html {


    /*https://stackoverflow.com/questions/16841323/making-gradient-background-fill-page-with-css*/
    /*https://www.w3schools.com/css/css3_gradients.asp*/

    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, #fffeec, #aeddcd);
    background: -moz-linear-gradient( to left top, #fffeec, #aeddcd);
    background: -ms-linear-gradient( to left top, #fffeec, #aeddcd);
    background: -o-linear-gradient( to left top, #fffeec, #aeddcd);
    background: linear-gradient( to left top, #fffeec, #aeddcd);
    background-repeat: no-repeat;

}

body {

    color: #414C54;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 12px;

    /* https://stackoverflow.com/questions/35132427/why-is-the-nav-bar-not-taking-up-full-width */
    margin: 0; 
    padding: 0;
}

h1 {

    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 38px;

}

/*#all {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgo8cmVjdCB3aWR0aD0nNScgaGVpZ2h0PSc1JyBmaWxsPScjZmZmJy8+CjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIGZpbGw9JyNjY2MnLz4KPC9zdmc+"); background-repeat: repeat;

}*/

#navbar {
  background-color: #414C54; /* Black background color */
  font-family: 'Roboto Mono', monospace;
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */

/*  display: inline-block;
  float: none;*/

}

/* Style the navbar links */
/*https://www.w3schools.com/howto/howto_js_navbar_hide_scroll.asp*/

#navbar a {

    float: right;
/*  display: block;
*/  
    color: #fffeec;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;

}

#navbar a:hover {
  background-color: #81B1BC;
  color: #fffeec;
}

#container {

    margin: auto;
    width: 70%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;

}

#intro_box {

    margin: 10px;
    margin-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    grid-column-start:0;
    grid-column-end: 1;
    text-align: center;
}

#intro_text {

    margin: 10px;
    margin-top: 50px;
    padding: 20px;
    margin-bottom: 150px;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #fffeec;
    border-color: #414C54; 
    border-style: solid;
    border-width: 2px;
}

#arrow {
    float: right;
}

#statusText {

    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 38px;
    width: 128px;
    overflow-x: visible;
    cursor: default;
    padding: 12px 0;
    -webkit-user-select: none;

}

/* Source: https://codepen.io/ibrahimjabbari/pen/ozinB */
hr.style11 {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
    width: 30%;

}

.dial {

    padding: 5px;
    width: 60px;
    font-size:12px;
    color: #fffeec;
    background-color: #D44A5A;
/*    border-color: #414C54; 
    border-style: solid;
    border-width: 1px;*/

}
