#statusText {

  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  color: #000;
  font-size: 38px;
  width: 128px;
  overflow-x: visible;
  cursor: default;
  padding: 12px 0;
  -webkit-user-select: none;

}